# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
venv/
.venv/

# IDE specific
.idea/
*.iml

# Secrets / Config
.env
config.yaml

# Data / Logs
*.db
*.sqlite
*.sqlite3
*.log
data/