# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
venv/
.venv/

# IDE specific
.idea/
*.iml

# Secrets / Config
.env
config.yaml
BFGremove.txt

# Data / Logs
*.db
*.sqlite
*.sqlite3
*.log
data/
/packages.dot
/packages.html
/classes.html
/sql_dump/
/hec/logfile.log*
/bfg-1.15.0.jar
